<h1>Workouts</h1>

<%=@workouts.each do |workout|%>
    <%=workout.title%>
    <%=workout.length%>
    <%=workout.difficulty%>
    <%=link_to "#{workout.description}" %>
    <% end %>

    <%=link_to "New Workout", new_workout_path %>

