<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @workout.name %></p>
    <p><strong>Total Number of Users:</strong> <%= @workout.users.count %></p>
    <p><strong>Workout Length:</strong> <%= @workout.length %> minutes</p>
    <p><strong>Workout Difficulty:</strong> <%= @workout.difficulty %></p>
      <%= form_for @workout do |f| %>
        <%= f.hidden_field :user_id %><br />
        <%= f.hidden_field :trainer_id %><br />
        <%= f.submit "Sign up for this workout", class:"btn btn-light" %>
    <% end %>
  </div>