<h1>Welcome To Buddy Boddy!</h1>

<% if user_is_authenticated %>
    <h3>Hello, <%= current_user.username %></h3>
    <%= link_to "Show Workouts", 'workouts/index' %>
<%end%>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
<%= button_to "Logout", logout_path, method: :delete%>
<%= link_to('Log in with Github!', '/auth/github') %>